:root {
  --node-border-color: rgba(185, 187, 190, 0.1);
  --node-hover-color: #f0efeb;
  --body-color: #2f3137;
  --light-text-color: #b9bbbe;
  --accent-color: #7389da;
  --grid-color: #35393f;
  --visualize-button-color: #43b581;
  --reset-button-color: #f14846;
  --visualize-button-background: 67, 181, 129;
  --reset-button-background: 241, 72, 70;
  --start-node-color: #43b581;
  --target-node-color: #f14846;
  --obstacle-node-color: #18191c;
  --weighted-node-color: 24, 25, 28;
  --dark-selection: #34363d;
  --visited-node-color: 63, 112, 221;
  --path-node-color: #f9a719;
  --button-deafult-color: 24, 25, 28;
  --clear-button-color: 249,167,25;
  --dropdown-container-background: #202225;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GRID */
.grid {
  z-index: 1;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  border: 10px solid var(--grid-color);
}

/* NODE */
.node {
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid var(--node-border-color);
  float: left;
  position: relative;
}

.node.start {
  background-color: var(--start-node-color);
  border: 1px solid var(--start-node-color);
}

.node.empty {
  background-color: var(--grid-color);
  border: 1px solid var(--node-border-color);
}

.node.target {
  background-color: var(--target-node-color);
  border: 1px solid var(--target-node-color);
}

.node.wall {
  background-color: var(--obstacle-node-color);
  border: 1px solid var(--obstacle-node-color);
}

.node.visited {
  background-color: rgba(var(--visited-node-color), 1);
  border: 1px solid rgba(var(--visited-node-color), 1);
}

.node.path {
  background-color: var(--path-node-color);
  border: 1px solid var(--path-node-color);
}

.node.weighted-100{
  background-color: rgba(var(--weighted-node-color), 0.9);
  border: 1px solid rgba(var(--weighted-node-color), 0.9);
}
.node.weighted-80{
  background-color: rgba(var(--weighted-node-color), 0.8);
  border: 1px solid rgba(var(--weighted-node-color), 0.8);
}
.node.weighted-60{
  background-color: rgba(var(--weighted-node-color), 0.6);
  border: 1px solid rgba(var(--weighted-node-color), 0.6);
}
.node.weighted-40{
  background-color: rgba(var(--weighted-node-color), 0.4);
  border: 1px solid rgba(var(--weighted-node-color), 0.4);
}
.node.weighted-20{
  background-color: rgba(var(--weighted-node-color), 0.2);
  border: 1px solid rgba(var(--weighted-node-color), 0.2);
}

/* HEADER */
.header {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

/* BUTTON */
.button {
  user-select: none;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
  transition: color 70ms linear;
  transition: background-color 70ms linear;
}

.button.green {
  color: var(--visualize-button-color);
}

.button.green:hover {
  background-color: rgba(var(--visualize-button-background), 0.1);
}

.button.red {
  color: var(--reset-button-color);
}

.button.red:hover {
  background-color: rgba(var(--reset-button-background), 0.1);
}

.button.orange {
  color: rgb(var(--clear-button-color));
}

.button.orange:hover {
  background-color: rgba(var(--clear-button-color), 0.1);
}

.button.disabled {
  color: var(--body-color);
  background-color: rgb(var(--button-deafult-color));
}

/* CHOOSE ALGORITHM CONTAINER */
.choose-algo {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-algo::before {
  position: absolute;
  content: "choose algorithm";
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  display: table;
  cursor: pointer;
}

.dropdown-header {
  user-select: none;
  padding: 10px 20px;
  text-align: left;
  border-radius: 4px;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--body-color);
  color: var(--light-text-color);
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
  min-width: 180px;
}

.dropdown-header.open {
  border-radius: 4px 4px 0px 0px;
}

.dropdown-list {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0px 0px 4px 4px;
}

.dropdown-list-item {
  user-select: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: left;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--body-color);
  color: var(--light-text-color);
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
  min-width: 180px;
}

.dropdown-list-item.selected {
  background-color: var(--dropdown-container-background);
}

.dropdown-list-item.last {
  border-radius: 0px 0px 4px 4px;
}

.dropdown-list-item:hover {
  background-color: var(--dark-selection);
}

.down-arrow {
  position: relative;
  float: right;
  top: 4px;
  width: 13px;
  height: 13px;
}

/* CHOOSE TERRAIN */
.choose-terrain {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-terrain::before {
  position: absolute;
  content: "choose terrain";
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}

/* CHOOSE OBSTACLE */
.choose-obstacle {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-obstacle::before {
  position: absolute;
  content: "choose obstacle";
  font-family: 'Whitney','Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}
