:root {
  --node-border-color: #b9bbbe;
  --node-hover-color: #f0efeb;
  --body-color: #2f3137;
  --light-text-color: #b9bbbe;
  --normal-button-background: 185, 187, 190;
  --visiting-node-color: #4988dc;
  --grid-color: #35393f;
  --visualize-button-color: #43b581;
  --reset-button-color: #f14846;
  --visualize-button-background: 67, 181, 129;
  --reset-button-background: 241, 72, 70;
  --start-node-color: #43b581;
  --target-node-color: #f14846;
  --obstacle-node-color: #18191c;
  --dark-selection: #34363d;
  --visited-node-color: 63, 112, 221;
  --path-node-color: #f9a719;
  --button-deafult-color: 24, 25, 28;
  --clear-button-color: 249,167,25;
  --dropdown-container-background: #202225;
  --info-box-background: 32, 34, 37;
  --main-font-size: 14px;
  --secondary-font-size: 11px;
  --weighted100-node-color: #1b1c1e;
  --weighted80-node-color: #1c1e21;
  --weighted60-node-color: #222327;
  --weighted40-node-color: #26272b;
  --weighted20-node-color: #2b2c31;
  --obstacle-preview-border-color:#5b5d68;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GRID */
.grid {
  z-index: 1;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  border: 10px solid var(--grid-color);
  background-color: var(--grid-color);
}

/* NODE */
.node {
  user-select: none;
  margin-top: -1px;
  margin-left: -1px;
  float: left;
  position: relative;
}

.erasing {
  cursor: url(./images/eraser.svg), auto;
}

.ready-to-draw {
  cursor: url(./images/pencil.svg), auto;
}

/* HEADER */
.header {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

/* BUTTON */
.button {
  user-select: none;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  cursor: pointer;
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
  transition: color 70ms linear;
  transition: background-color 70ms linear;
}

.button.green {
  color: var(--visualize-button-color);
}

.button.green:hover {
  background-color: rgba(var(--visualize-button-background), 0.1);
}

.button.red {
  color: var(--reset-button-color);
}

.button.red:hover {
  background-color: rgba(var(--reset-button-background), 0.1);
}

.button.orange {
  color: rgb(var(--clear-button-color));
}

.button.orange:hover {
  background-color: rgba(var(--clear-button-color), 0.1);
}

.button.disabled {
  color: var(--body-color);
  background-color: rgb(var(--button-deafult-color));
}

.button.blue {
  color:  rgba(var(--visited-node-color), 1);
}

.button.blue:hover {
  background-color: rgba(var(--visited-node-color), 0.1);
}

/* CHOOSE ALGORITHM CONTAINER */
.choose-algo {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-algo::before {
  position: absolute;
  content: "pathfinding algorithms";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--secondary-font-size);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto;
  display: table;
  cursor: pointer;
}

.dropdown-header {
  user-select: none;
  padding: 10px 20px;
  text-align: left;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  background-color: var(--body-color);
  color: var(--light-text-color);
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
}

.dropdown-header.open {
  border-radius: 4px 4px 0px 0px;
}

.dropdown-header.disabled {
  background-color: var(--obstacle-node-color);
  color: var(--body-color);
}

.dropdown-list {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 0px 0px 4px 4px;
}

.dropdown-list-item {
  user-select: none;
  display: inline-block;
  padding: 10px 20px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  background-color: var(--body-color);
  color: var(--light-text-color);
  display: table;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: auto;
  margin-top: -1px;
}

.dropdown-list-item.selected {
  background-color: var(--dropdown-container-background);
}

.dropdown-list-item.last {
  border-radius: 0px 0px 4px 4px;
}

.dropdown-list-item:hover {
  background-color: var(--dark-selection);
}

.down-arrow {
  position: relative;
  float: right;
  top: 4px;
  width: 10px;
  height: 10px;
}

.algo-property-badge {
  position: relative;
  float: right;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-left: 7px;
}

.obstacle-preview {
  position: relative;
  float: right;
  top: 3px;
  width: 12px;
  height: 12px;
  margin-left: 7px;
  border-radius: 2px;
  border: 1px solid var(--obstacle-preview-border-color);
}

/* CHOOSE TERRAIN */
.choose-terrain {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-terrain::before {
  position: absolute;
  content: "mazes / patterns";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--secondary-font-size);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}

/* CHOOSE OBSTACLE */
.choose-obstacle {
  margin-left: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 500;
  background-color: var(--dropdown-container-background);
  display: flex;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  height: 70px;
}

.choose-obstacle::before {
  position: absolute;
  content: "obstacles (weight)";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--secondary-font-size);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--light-text-color);
  top: -20px;
  left: 5px;
  text-rendering: optimizeLegibility;
}

/* INFO BOX */
.info-box {
  position: fixed;
  background-color: rgba(var(--info-box-background), 0.97);
  width: 350px;
  height: 600px;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 0px 30px 30px 30px;
  text-align: center;
  resize: both;
  overflow: auto;
  border-radius: 4px;
  user-select: none;
}

.info-box.hidden {
  display: none;
}

.info-box.visible {
  display: block;
}

.info-box h1 {
  user-select: none;
  color: var(--start-node-color);
  padding: 50px 0px 30px 0px;
  cursor: move;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.info-box p {
  color: var(--light-text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  font-size: var(--main-font-size);
  font-weight: 400;
  text-align: left;
  line-height: 1.25rem;
}
.info-box p strong {
  color: white;
  font-weight: 800;
}

.close-info-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  user-select: none;
}

.close-info-icon:hover {
  fill: white  !important;
}


